{% load staticfiles  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的顶奇</title>
    <link href="{% static 'css/user-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/libs/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/libs/jweixin-1.0.0.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
</head>
<body style="background-image: url({% static 'img/bj1.jpg' %});
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: #69B1D7;">
    <div class="page-wrapper" >
        <div class="title">
            <img src="{% static 'img/title.png' %}" width="100%">
        </div>
        <div class="user-info">
            <img class="avatar" src="{{ user.headimgurl }}">
            <p class="user-name">{{ user.nickname }}</p>
        </div>
        <div class="water-ball" style="background: url('{% static 'img/bubble.png' %}');background-size: 350px;
    background-repeat: no-repeat;background-position: 50%;">
            <svg id="fillgauge1" width="200" height="60%" style="margin-top: 2px"></svg>
        </div>
        <div class="my-rank">
            <p class="text-center">当前排名: {{ user.current_rank }}</p>
        </div>
        <div class="action-area">
            <a href="javascript:;" class="help">
              <img src="{% static 'img/bt1.png' %}" width="100%">
            </a>
            <a href="javascript:;" class="join" data-toggle="modal" data-target="#follow">
                我也要参加
            </a>
        </div>
        <div class="history" style="background: url('{% static 'img/clothe.png' %}');background-size: 100%; background-repeat: no-repeat;">
            <div class="hl-wrapper">
                <p class="title">{{ addscores.count }}位朋友帮他加过顶奇</p>
                {% if not addscores %}
                    <p class="text-center" id="table-place-holder">还没有人帮{{ user.nickname }}加顶奇哦!</p>
                {% endif %}
                <table class="hl-table">
                    {% for addscore in addscores %}
                    <tr>
                        <td>
                            <img src="{{ addscore.helper.headimgurl }}" class="avatar">
                        </td>
                        <td class="name">
                            {{ addscore.helper.nickname }}{% if addscore.helper == addscore.user %}的初始顶奇{% endif %}
                        </td>
                        <td class="added-value">
                            +{{ addscore.score }}ml
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="rank-area">
            <a href="{% url 'rank' %}">
              <img src="{% static 'img/bt2.png' %}" width="100%">
            </a>
        </div>
        <a class="rules" href="http://mp.weixin.qq.com/s?__biz=MzI5MjEzNjAxNA==&mid=502018828&idx=1&sn=324270690f6b30d5c80198de1702b346#rd">查看活动规则 >></a>&nbsp;
    </div>

    <div class="dingqi-modals">
        <div class="modal fade" id="follow">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">参加顶奇夏日狂欢节</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img src="{% static 'img/qr-dingqi.jpg' %}" width="50%">
                        <p style="margin-top: 20px;">1. 按住二维码图片识别二维码，关注顶奇官方公众号</p>
                        <p>2. 点击下菜单"顶奇夏日狂欢节"</p>
                        <p>3. 发给朋友，免费获得奖品!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default dingqi-btn" data-dismiss="modal">知道啦!</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="loader" id="loader" style="display: none;">
        <i class="fa fa-refresh fa-spin"></i>
        <p>狂加顶奇...</p>
    </div>

    <div class="loader" id="msger" style="display: none;">
        <p class="msg"></p>
        <p class="score"></p>
    </div>



    <script src="{% static 'js/libs/d3.v3.min.js' %}"></script>
    <script src="{% static 'js/libs/liquidFillGauge.js' %}"></script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259363107'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259363107' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>
    $(function(){
        d3.select("#fillgauge1").call(d3.liquidfillgauge, {{ user.score }}, {
            maxValue: {{ max_value }},
            circleThickness: 0.05, // The outer circle thickness as a percentage of it's radius.
            circleFillGap: 0.02, // The size of the gap between the outer circle and wave circle as a percentage of the outer circles radius.
            circleColor: "#178BCA", // The color of the outer circle.
            backgroundColor: null, // The color of the background
            waveColor: "#178BCA", // The color of the fill wave.
            width: 0, // You might want to set the width and height if it is not detected properly by the plugin
            height: 0,
            waveAnimateTime: 1800
        });

        function disp_confirm() {
            var r = confirm("玩迪斯尼、住裸心谷、拿洗衣液，你也可以！去看看？");
            if (r == true) {
                window.location.href = "http://mp.weixin.qq.com/s?__biz=MzI5MjEzNjAxNA==&mid=502018828&idx=1&sn=324270690f6b30d5c80198de1702b346#rd";
            }
            else {

            }
        }

        $('.help').on('click', function(){
            $('#loader').show();
            url = '{% url 'add' user.openid current_user.openid %}';
            $.get(url, function(data){
                console.log(data);
                if (data.error == 0){
                    if (data.created){
                        $('.loader .score').text(String(data.score) + 'ml');
                        $('.loader .msg').text('成功添加');
                        d3.select("#fillgauge1").on("valueChanged")(data.score + {{ user.score }});
                        $('#table-place-holder').hide();
                        $('.hl-table > tbody > tr:first').before(
                                '<tr>' +
                                    '<td>' +
                                        '<img src="' + data.avatar + '" class="avatar">' +
                                    '</td>' +
                                    '<td class="name">' + data.name +
                                    '</td>' +
                                    '<td class="added-value">+' + data.score + 'ml' +
                                    '</td>' +
                                '</tr>');
                        setTimeout(disp_confirm, 1800);
                    }else{
                        $('.loader .score').text(String(data.score) + 'ml');
                        $('.loader .msg').text('已为他加过');
                        setTimeout(disp_confirm, 1800);
                    }
                }else if (data.error == 1){
                    $('.loader .score').text('');
                    $('.loader .msg').text('快去找小伙伴帮忙吧!');
                }else{
                    $('.loader .score').text('出错了...');
                    $('.loader .msg').text('请重试...');
                }
                $('#loader').fadeOut();
                $('#msger').fadeIn();
                setTimeout(function(){
                    $('#msger').fadeOut();
                }, 1500)
            })
        });

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{{ appid }}', // 必填，公众号的唯一标识
            timestamp: "{{ timestamp }}", // 必填，生成签名的时间戳
            nonceStr: '{{ noncestr }}', // 必填，生成签名的随机串
            signature: '{{ signature }}',// 必填，签名，见附录1
            jsApiList: ['hideOptionMenu','onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.hideOptionMenu();

        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: '帮我加点顶奇洗衣液!', // 分享标题
                link: '{{ url|safe }}', // 分享链接
                imgUrl: '{{ user.headimgurl }}', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: '帮我加点顶奇洗衣液!', // 分享标题
                desc: '顶奇洗衣液带你玩转整个夏天, 邀请朋友帮你加顶奇洗衣液, 大奖等你拿!', // 分享描述
                link: '{{ url|safe }}', // 分享链接
                imgUrl: '{{ user.headimgurl }}', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        })
    });
    </script>
</body>
</html>